{% extends 'template/base.html' %}
{% load static %}
{% block content %}

<!-- ======= title ======= -->
<section class="portfolio portfolio-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Notifications
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======= end title ======= -->


{% if user.is_authenticated %}
{% if notification_count == 0 %}
{% include 'template/notification/notification_empty.html' %}


{% else %}
<!-- normal Notification page -->
<section class="portfolio">
    <div class="container">
        <div id="update-notification">
            {% include 'template/notification/notification_list.html' %}
        </div>
    </div>
</section>

<div id="update-notification-count" style="display: none">
    {% include 'template/notification/notification_empty.html' %}
</div>

{% endif %}


{% else %}
<!--Notification page if user is not authenticated -->
<section class="portfolio sect-pt4">
    <div class="container">
        <div class="col-md-12" data-aos="fade-up" data-aos-anchor-placement='top-bottom'>
            <div class="work-box">
                <div class="row">
                    <div class="col">
                        <h3 class="cart-empty-title">My Notifications</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="work-img cart-img">
                            <img src="/media/assets/img/cart img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="work-content">
                    <div class="row justify-content-center">
                        <div class="col-sm-8">
                            <h6 class="cart-empty-text">Login to see Notifications</h6>
                            <a class="shop-now-btn " style="margin: auto; width: 30%; color: #ffffff;"
                               href="{% url 'login' %}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}


{% endblock %}