{% extends 'template/base.html' %}
{% load static %}
{% block content %}

<!-- ======= title ======= -->
<section class="portfolio portfolio-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        update profile
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======= end title ======= -->


<div class="user-profile">
    <div class="row justify-content-center">
        <div class="col-sm-7 col-md-6 col-lg-5 col-xl-5">
            <div class="wrapper">
                <form class="form-signin" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        <label>Upload Profile Pic</label>
                        {{ profile_pic_form.dp }}
                    </p>
                    <button class="btn btn-lg btn-primary btn-block" style="background: #1e4356;" type="submit">Save
                        changes
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}