<div class="row">
    <div class="col-6">
        <p>
            <label>Country </label>
            {{ profile_form.country }}
        </p>
    </div>
    <div class="col-6">
        <p>
            <label>State </label>
            {{ profile_form.state }}
        </p>
    </div>
</div>
<p>
    <label>City </label>
    {{ profile_form.city }}
</p>
<p>
    <label>street_address </label>
    {{ profile_form.street_address }}
</p>
<p>
    <label>postcode </label>
    {{ profile_form.postcode }}
</p>
