<div class="row">
    <div class="col-6">
        <p>
            <label>First Name </label>
            {{ profile_form.first_name }}
        </p>
    </div>
    <div class="col-6">
        <p>
            <label>Last Name </label>
            {{ profile_form.last_name }}
        </p>
    </div>
</div>
<p>
    <label>Email </label>
    {{ profile_form.email }}
</p>
<p>
    <label>Gender </label>
    {{ profile_form.gender }}
</p>
<p>
    <label>Phone number</label>
    {{ profile_form.phone_number }}
</p>