{% extends 'template/base.html' %}
{% load static %}
{% block content %}

<!-- ======= title ======= -->
<section class="portfolio portfolio-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Admin page
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======= end title ======= -->


<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin: auto;">
            <div class="row">
                <div class="col-md-6">
                    <h6>{{ order.ordered_product.title }}</h6>
                    <h6>Ordered On : {{ order.order_placed_date }}</h6>
                    <h6>Status : {{ order.get_status_display }}</h6>
                    <h6>Return Before : {{ order.ordered_product.return_days }} days</h6>
                    <br>
                    <h6>Name : {{ order.customer.first_name }} {{ order.customer.last_name }} </h6>
                    <h6>Email : {{ order.customer.email }}</h6>
                    <h6>Phone Number : {{ order.customer.profile.phone_number }}</h6>
                </div>
                <div class="col-md-6">
                    <h6>Country : {{ order.customer.profile.country }}</h6>
                    <h6>State : {{ order.customer.profile.state }}</h6>
                    <h6>City : {{ order.customer.profile.city }}</h6>
                    <h6>Street Address : {{ order.customer.profile.street_address }}</h6>
                    <h6>Pin : {{ order.customer.profile.postcode }}</h6>
                    <br>
                    <h6>Cash on Delivery : ₹{{ order.ordered_product.offer_price }}</h6>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12" style="margin: auto;">
            <div class="row">
                <div class="col-7 col-md-2" style="margin: auto;">
                    <a href="{% url 'admin_status_update' order_id=order.id status=1 %}" style="color: white"
                       class="proceed-btn">
                        Confirmed
                        {% if order.order_confirmed_date is not null %}
                        <span><i class="fas fa-check"></i></span>
                        {% endif %}
                    </a>
                </div>
                <div class="col-7 col-md-2" style="margin: auto;">
                    <a href="{% url 'admin_status_update' order_id=order.id status=2 %}" style="color: white"
                       class="proceed-btn">
                        Packing
                        {% if order.packing_date is not null %}
                        <span><i class="fas fa-check"></i></span>
                        {% endif %}
                    </a>
                </div>
                <div class="col-7 col-md-2" style="margin: auto;">
                    <a href="{% url 'admin_status_update' order_id=order.id status=3 %}" style="color: white"
                       class="proceed-btn">
                        Shipped
                        {% if order.shipped_date is not null %}
                        <span><i class="fas fa-check"></i></span>
                        {% endif %}
                    </a>
                </div>
                <div class="col-7 col-md-2" style="margin: auto;">
                    <a href="{% url 'admin_status_update' order_id=order.id status=4 %}"
                       style="color: white"
                       class="proceed-btn">
                        Delivering
                        {% if order.out_for_delivery_date is not null %}
                        <span><i class="fas fa-check"></i></span>
                        {% endif %}
                    </a>
                </div>
                <div class="col-7 col-md-2" style="margin: auto;">
                    <a href="{% url 'admin_status_update' order_id=order.id status=5 %}" style="color: white"
                       class="proceed-btn">
                        Delivered
                        {% if order.delivered == True %}
                        <span><i class="fas fa-check"></i></span>
                        {% endif %}
                    </a>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-10 col-md-3" style="margin: auto;">
                    <a href="{% url 'admin_status_update' order_id=order.id status=8 %}"
                       style="color: white; padding: 15px 25px 14px 15px;"
                       class="proceed-btn">
                        Return Acknowledged
                        {% if order.return_request_acknowledged_date is not null %}
                        <span><i class="fas fa-check"></i></span>
                        {% endif %}
                    </a>
                </div>
                <div class="col-10 col-md-3" style="margin: auto;">
                    <a href="{% url 'admin_status_update' order_id=order.id status=9 %}"
                       style="color: white; padding: 15px 15px 14px 10px;"
                       class="proceed-btn">
                        Courier Service Informed
                        {% if order.courier_service_informed_date is not null %}
                        <span><i class="fas fa-check"></i></span>
                        {% endif %}
                    </a>
                </div>
                <div class="col-9 col-md-3" style="margin: auto;">
                    <a href="{% url 'admin_status_update' order_id=order.id status=10 %}"
                       style="color: white;"
                       class="proceed-btn">
                        Product Verified
                        {% if order.return_product_verified_date is not null %}
                        <span><i class="fas fa-check"></i></span>
                        {% endif %}
                    </a>
                </div>
                <div class="col-9 col-md-3" style="margin: auto;">
                    <a href="{% url 'admin_status_update' order_id=order.id status=11 %}"
                       style="color: white"
                       class="proceed-btn">
                        Refund Completed
                        {% if order.refund_completed_date is not null %}
                        <span><i class="fas fa-check"></i></span>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}