{% extends 'template/base.html' %}
{% load static %}
{% block content %}

<!-- ======= title ======= -->
<section class="portfolio portfolio-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        check out
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======= end title ======= -->


<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad" style="padding-top: 0px;">
    <div class="container">
        <form method="post" class="checkout-form">{% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <h4>Biiling Details</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>First Name<span>*</span></label>
                            {{ user_form.first_name }}
                        </div>
                        <div class="col-lg-6">
                            <label>Last Name<span>*</span></label>
                            {{ user_form.last_name }}
                        </div>
                        <div class="col-lg-12">
                            <label>Country<span>*</span></label>
                            {{ checkout_form.country }}
                        </div>
                        <div class="col-lg-12">
                            <label>State<span>*</span></label>
                            {{ checkout_form.state }}
                        </div>
                        <div class="col-lg-12">
                            <label>Town / City<span>*</span></label>
                            {{ checkout_form.city }}
                        </div>
                        <div class="col-lg-12">
                            <label>Street Address<span>*</span></label>
                            {{ checkout_form.street_address }}
                        </div>
                        <div class="col-lg-12">
                            <label>Postcode / ZIP (optional)</label>
                            {{ checkout_form.postcode }}
                        </div>
                        <div class="col-lg-6">
                            <label>Email Address<span>*</span></label>
                            {{ user_form.email }}
                        </div>
                        <div class="col-lg-6">
                            <label>Phone<span>*</span></label>
                            {{ checkout_form.phone_number }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="place-order">
                        <h4>Your Order</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li>Product <span>Total</span></li>
                                {% for cart_product in profile.cart_products.all %}
                                <li class="fw-normal">{{ cart_product.title }}
                                    <span>₹{{ cart_product.offer_price }}</span></li>
                                {% endfor %}
                                <li class="fw-normal">Delivery Charges <span>₹ 250.0</span></li>
                                <li class="total-price">Total <span>₹{{ profile.total }}</span></li>
                            </ul>
                            <div class="order-btn">
                                <button type="submit" class="site-btn place-btn">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shopping Cart Section End -->


{% endblock %}