<section class="portfolio">
    <div class="container">
        <div class="work-box">
            <div class="row">
                <div class="col-12">
                    <h3 class="cart-empty-title"></h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="work-img cart-img">
                        <img src="/media/assets/img/cart img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 col-md-3">
                    <h5 class="cart-empty-text">No Notifications Yet</h5>
                    <a class="shop-now-btn" style="color: white;" href="{% url 'homepage' %}">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
