{% extends 'template/base.html' %}
{% load static %}
{% block content %}


<!-- ======= title ======= -->
<section class="portfolio portfolio-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Notification
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======= end title ======= -->


{% endblock %}