{% extends 'template/base.html' %}
{% load static %}
{% block content %}


<!-- ======= Header ======= -->
<header id="header" class="fixed-top header">
    <div class="container">
        <div class="logo float-left">
            <h1 class="text-light"><a href="{% url 'homepage' %}"><span>DjangoShop</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="{% static 'img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
                <li class="active"><a href="{% url 'order_track' %}">Track Order</a></li>

                {% if user.is_authenticated %}
                <li><a href="">{{ user.username }}</a></li>
                {% else %}
                <li><a href="">Login</a></li>
                {% endif %}

                <li class="drop-down"><a href="">Category</a>
                    <ul>
                        <li class="drop-down"><a href="{% url 'show_category' slug='electronics' %}">Electronics</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='camera' %}">Camera</a></li>
                                <li><a href="{% url 'show_category' slug='laptops' %}">Laptops</a></li>
                                <li><a href="{% url 'show_category' slug='mobile-accessories' %}">Mobile Accessories</a>
                                </li>
                                <li><a href="{% url 'show_category' slug='mobiles' %}">Mobiles</a></li>
                                <li><a href="{% url 'show_category' slug='speakers' %}">Speakers</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='fashion' %}">Fashion</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='men' %}">Men's</a></li>
                                <li><a href="{% url 'show_category' slug='women' %}">Women's</a></li>
                                <li><a href="{% url 'show_category' slug='kids-and-baby' %}">Kids and Baby</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='home-and-furniture' %}">Home and
                            Furniture</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='home-furnishing' %}">Home Furnishing</a></li>
                                <li><a href="{% url 'show_category' slug='home-decor' %}">Home Decor</a></li>
                                <li><a href="{% url 'show_category' slug='home-improvement' %}">Home Improvement</a>
                                </li>
                                <li><a href="{% url 'show_category' slug='house-keeping-essentials' %}">House Keeping
                                    Essentials</a></li>
                                <li><a href="{% url 'show_category' slug='kitchen-accessories' %}">Kitchen
                                    Accessories</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='sports-books-and-more' %}">Sports,
                            Books and More</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='tv-appliances' %}">Tv &
                            Appliances</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='air-conditioner' %}">Air Conditioner</a></li>
                                <li><a href="{% url 'show_category' slug='washing-machine' %}">Washing Machine</a></li>
                                <li><a href="{% url 'show_category' slug='televisions' %}">Televisions</a></li>
                                <li><a href="{% url 'show_category' slug='refrigerator' %}">Refrigerator</a></li>
                                <li><a href="{% url 'show_category' slug='kitchen-appliances' %}">Kitchen Appliances</a>
                                </li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='toys-and-baby' %}">Toys and Baby</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->


<br>
<br>
<br>


<!-- ======= title ======= -->
<section class="portfolio sect-pt4" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        track order
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======= end title ======= -->



<!-- Shopping Cart Section Begin -->
<section class="checkout-section spad" style="padding-top: 0px;">
    <div class="container">
        <form action="#" class="checkout-form">
            <div class="row">
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <a href="#" class="content-btn">Click Here To Login</a>
                    </div>
                    <h4>Biiling Details</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="fir">First Name<span>*</span></label>
                            <input type="text" id="fir">
                        </div>
                        <div class="col-lg-6">
                            <label for="last">Last Name<span>*</span></label>
                            <input type="text" id="last">
                        </div>
                        <div class="col-lg-12">
                            <label for="cun-name">Company Name</label>
                            <input type="text" id="cun-name">
                        </div>
                        <div class="col-lg-12">
                            <label for="cun">Country<span>*</span></label>
                            <input type="text" id="cun">
                        </div>
                        <div class="col-lg-12">
                            <label for="street">Street Address<span>*</span></label>
                            <input type="text" id="street" class="street-first">
                            <input type="text">
                        </div>
                        <div class="col-lg-12">
                            <label for="zip">Postcode / ZIP (optional)</label>
                            <input type="text" id="zip">
                        </div>
                        <div class="col-lg-12">
                            <label for="town">Town / City<span>*</span></label>
                            <input type="text" id="town">
                        </div>
                        <div class="col-lg-6">
                            <label for="email">Email Address<span>*</span></label>
                            <input type="text" id="email">
                        </div>
                        <div class="col-lg-6">
                            <label for="phone">Phone<span>*</span></label>
                            <input type="text" id="phone">
                        </div>
                        <div class="col-lg-12">
                            <div class="create-item">
                                <label for="acc-create">
                                    Create an account?
                                    <input type="checkbox" id="acc-create">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkout-content">
                        <input type="text" placeholder="Enter Your Coupon Code">
                    </div>
                    <div class="place-order">
                        <h4>Your Order</h4>
                        <div class="order-total">
                            <ul class="order-table">
                                <li>Product <span>Total</span></li>
                                <li class="fw-normal">Combination x 1 <span>$60.00</span></li>
                                <li class="fw-normal">Combination x 1 <span>$60.00</span></li>
                                <li class="fw-normal">Combination x 1 <span>$120.00</span></li>
                                <li class="fw-normal">Subtotal <span>$240.00</span></li>
                                <li class="total-price">Total <span>$240.00</span></li>
                            </ul>
                            <div class="payment-check">
                                <div class="pc-item">
                                    <label for="pc-check">
                                        Cheque Payment
                                        <input type="checkbox" id="pc-check">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="pc-item">
                                    <label for="pc-paypal">
                                        Paypal
                                        <input type="checkbox" id="pc-paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="order-btn">
                                <button type="submit" class="site-btn place-btn">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shopping Cart Section End -->


{% endblock %}