{% extends 'template/base.html' %}
{% load static %}
{% block content %}


<!-- ======= Header ======= -->
<header id="header" class="fixed-top header">
    <div class="container">
        <div class="logo float-left">
            <h1 class="text-light"><a href="{% url 'homepage' %}"><span>Shopping Site</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="{% static 'img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li>
                    <form action="{% url 'search' %}" method="GET" value="{{request.GET.q}}">
                        <div class="search">
                            <input type="text" name="q" value="{{request.GET.q}}" placeholder=" ">
                            <div>
                                <svg>
                                    <use xlink:href="#path"/>
                                </svg>
                            </div>
                        </div>
                        <input class="submit" type="submit" name="submit" value="Search"/>
                    </form>
                </li>
                <li class="active"><a href="{% url 'homepage' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li class="drop-down"><a href="{% url 'user' %}">{{ user.username }}</a>
                    <ul>
                        <li><a href="{% url 'user' %}">User Profile</a></li>
                        <li><a href="{% url 'cart' %}">Cart</a></li>
                        <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                        <li><a href="{% url 'order_history' %}">Orders</a></li>
                        <li><a href="{% url 'logout' %}">logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}

                <li class="drop-down"><a href="">Category</a>
                    <ul>
                        <li class="drop-down"><a href="{% url 'show_category' slug='electronics' %}">Electronics</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='camera' %}">Camera</a></li>
                                <li><a href="{% url 'show_category' slug='laptops' %}">Laptops</a></li>
                                <li><a href="{% url 'show_category' slug='mobile-accessories' %}">Mobile Accessories</a>
                                </li>
                                <li><a href="{% url 'show_category' slug='mobiles' %}">Mobiles</a></li>
                                <li><a href="{% url 'show_category' slug='speakers' %}">Speakers</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='fashion' %}">Fashion</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='men' %}">Men's</a></li>
                                <li><a href="{% url 'show_category' slug='women' %}">Women's</a></li>
                                <li><a href="{% url 'show_category' slug='kids-and-baby' %}">Kids and Baby</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='home-and-furniture' %}">Home and
                            Furniture</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='home-furnishing' %}">Home Furnishing</a></li>
                                <li><a href="{% url 'show_category' slug='home-decor' %}">Home Decor</a></li>
                                <li><a href="{% url 'show_category' slug='home-improvement' %}">Home Improvement</a>
                                </li>
                                <li><a href="{% url 'show_category' slug='house-keeping-essentials' %}">House Keeping
                                    Essentials</a></li>
                                <li><a href="{% url 'show_category' slug='kitchen-accessories' %}">Kitchen
                                    Accessories</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='sports-books-and-more' %}">Sports,
                            Books and More</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='tv-appliances' %}">Tv &
                            Appliances</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='air-conditioner' %}">Air Conditioner</a></li>
                                <li><a href="{% url 'show_category' slug='washing-machine' %}">Washing Machine</a></li>
                                <li><a href="{% url 'show_category' slug='televisions' %}">Televisions</a></li>
                                <li><a href="{% url 'show_category' slug='refrigerator' %}">Refrigerator</a></li>
                                <li><a href="{% url 'show_category' slug='kitchen-appliances' %}">Kitchen Appliances</a>
                                </li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='toys-and-baby' %}">Toys and Baby</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->


<br>
<br>
<br>
<br>
<br>

<!-- ======= title ======= -->
<section class="portfolio sect-pt4" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Orders
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======= end title ======= -->

{% if user.is_authenticated %}
{% if count == 0 %}
<!--order page if order history has no items-->
<section class="portfolio">
    <div class="container">
        <div class="work-box" data-aos="fade-up" data-aos-anchor-placement='top-bottom'>
            <div class="row">
                <div class="col-12">
                    <h3 class="cart-empty-title"></h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="work-img cart-img">
                        <img src="/media/assets/img/cart img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 col-md-3">
                    <h5 class="cart-empty-text">No Items Purchased Yet</h5>
                    <a class="shop-now-btn" style="color: white;" href="{% url 'homepage' %}">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% else %}
<!-- normal order history page -->
<section class="portfolio">
    <div class="container">
        {% for i in orders reversed %}
        <div class="row">
            <div class="col-md-8" style="margin:auto;" data-aos="fade-up" data-aos-anchor-placement='top-bottom'>
                <div class="work-box" style="margin-bottom:15px;">
                    <div class="row">
                        <div class="col-4">
                            <div class="work-img" style="padding:8px;">
                                <a href="{% url 'product_detail' slug=i.ordered_product.slug %}">
                                    <img src="/media/{{ i.ordered_product.image_url_1 }}" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="work-content" style="padding:10px;">
                                <div class="row">
                                    <div class="col-sm-12 pi-text" style="padding-top:10px; text-align: left;">
                                        <h5>{{ i.ordered_product.title }}</h5>
                                        <h6>₹{{ i.ordered_product.offer_price }}</h6>
                                        <h6>{{ i.ordered_date }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 proceed-checkout" style="padding-top:50px">
                            <a href="{% url 'track_order' order_id=i.id %}" style="color: white"
                               class="proceed-btn">Track Order
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}


{% else %}
<!--order page if user is not authenticated -->
<section class="portfolio sect-pt4">
    <div class="container">
        <div class="col-md-12" data-aos="fade-up" data-aos-anchor-placement='top-bottom'>
            <div class="work-box">
                <div class="row" style="padding: 20px 50px;">
                    <div class="col">
                        <h3>My Orders</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="work-img cart-img">
                            <img src="/media/assets/img/cart img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="work-content">
                    <div class="row justify-content-center">
                        <div class="col-sm-8">
                            <h6 class="cart-text">Login to see the items u ordered previously</h6>
                            <a class="proceed-btn " style="margin: auto; width: 30%; color: #ffffff;"
                               href="{% url 'login' %}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}


{% endblock %}
