{% extends 'template/base.html' %}
{% load static %}
{% block content %}

<!-- ======= title ======= -->
<section class="portfolio portfolio-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Orders
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======= end title ======= -->

{% if user.is_authenticated %}
{% if order_count == 0 %}
<!--order page if order history has no items-->
<section class="portfolio">
    <div class="container">
        <div class="work-box" data-aos="fade-up" data-aos-anchor-placement='top-bottom'>
            <div class="row">
                <div class="col-12">
                    <h3 class="cart-empty-title"></h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="work-img cart-img">
                        <img src="/media/assets/img/cart img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6 col-md-3">
                    <h5 class="cart-empty-text">No Items Purchased Yet</h5>
                    <a class="shop-now-btn" style="color: white;" href="{% url 'homepage' %}">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


{% else %}
<!-- normal order history page -->
<section class="portfolio">
    <div class="container">
        {% for i in orders reversed %}
        <div class="row">
            <div class="col-11 col-md-8 work-box" data-aos="fade-up" data-aos-anchor-placement='top-bottom'>
                <div class="row">
                    <div class="col-6 col-md-5 work-img">
                        <a href="{% url 'product_detail' slug=i.ordered_product.slug %}">
                            <img src="/media/{{ i.ordered_product.image_url_1 }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    <div class="col-6 col-md-7 cart-text">
                        <h3>{{ i.ordered_product.title }}</h3>
                        <h6>₹{{ i.ordered_product.offer_price }}</h6>
                        <h6>Ordered On: {{ i.order_placed_date }}</h6>
                        <h6 class="indicator">{{ i.get_status_display }}
                            {% if i.status == 5 %}
                            <span class="status-indicator-green"><i class="fas fa-check-circle"></i></span>
                            {% elif i.status == 6 %}
                            <span class="status-indicator-red"><i class="fas fa-check-circle"></i></span>
                            {% elif i.status == 11 %}
                            <span class="status-indicator-orange"><i class="fas fa-check-circle"></i></span>
                            {% endif %}
                        </h6>
                        <div class="add-to-cart-btn-2">
                            <a href="{% url 'track_order' order_id=i.id %}" style="color: white">Track Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}


{% else %}
<!--order page if user is not authenticated -->
<section class="portfolio sect-pt4">
    <div class="container">
        <div class="col-md-12" data-aos="fade-up" data-aos-anchor-placement='top-bottom'>
            <div class="work-box">
                <div class="row">
                    <div class="col">
                        <h3 class="cart-empty-title">My Orders</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="work-img cart-img">
                            <img src="/media/assets/img/cart img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="work-content">
                    <div class="row justify-content-center">
                        <div class="col-sm-8">
                            <h6 class="cart-empty-text">Login to see the items u ordered previously</h6>
                            <a class="shop-now-btn " style="margin: auto; width: 30%; color: #ffffff;"
                               href="{% url 'login' %}">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}


{% endblock %}
