{% extends 'template/base.html' %}
{% load static %}
{% block content %}


<!-- ======= Header ======= -->
<header id="header" class="fixed-top header">
    <div class="container">
        <div class="logo float-left">
            <h1 class="text-light"><a href="{% url 'homepage' %}"><span>Shopping Site</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="{% static 'img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li>
                    <form action="{% url 'search' %}" method="GET" value="{{request.GET.q}}">
                        <div class="search">
                            <input type="text" name="q" value="{{request.GET.q}}" placeholder=" ">
                            <div>
                                <svg>
                                    <use xlink:href="#path"/>
                                </svg>
                            </div>
                        </div>
                        <input class="submit" type="submit" name="submit" value="Search"/>
                    </form>
                </li>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
                <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                {% if user.is_authenticated %}
                <li class="drop-down"><a href="{% url 'user' %}">{{ user.username }}</a>
                    <ul>
                        <li><a href="{% url 'user' %}">User Profile</a></li>
                        <li><a href="{% url 'order_track' %}">Track Order</a></li>
                        <li><a href="{% url 'logout' %}">logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}

                <li class="drop-down"><a href="">Category</a>
                    <ul>
                        <li class="drop-down"><a href="{% url 'show_category' slug='electronics' %}">Electronics</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='camera' %}">Camera</a></li>
                                <li><a href="{% url 'show_category' slug='laptops' %}">Laptops</a></li>
                                <li><a href="{% url 'show_category' slug='mobile-accessories' %}">Mobile Accessories</a>
                                </li>
                                <li><a href="{% url 'show_category' slug='mobiles' %}">Mobiles</a></li>
                                <li><a href="{% url 'show_category' slug='speakers' %}">Speakers</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='fashion' %}">Fashion</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='men' %}">Men's</a></li>
                                <li><a href="{% url 'show_category' slug='women' %}">Women's</a></li>
                                <li><a href="{% url 'show_category' slug='kids-and-baby' %}">Kids and Baby</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='home-and-furniture' %}">Home and
                            Furniture</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='home-furnishing' %}">Home Furnishing</a></li>
                                <li><a href="{% url 'show_category' slug='home-decor' %}">Home Decor</a></li>
                                <li><a href="{% url 'show_category' slug='home-improvement' %}">Home Improvement</a>
                                </li>
                                <li><a href="{% url 'show_category' slug='house-keeping-essentials' %}">House Keeping
                                    Essentials</a></li>
                                <li><a href="{% url 'show_category' slug='kitchen-accessories' %}">Kitchen
                                    Accessories</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='sports-books-and-more' %}">Sports,
                            Books and More</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='tv-appliances' %}">Tv &
                            Appliances</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='air-conditioner' %}">Air Conditioner</a></li>
                                <li><a href="{% url 'show_category' slug='washing-machine' %}">Washing Machine</a></li>
                                <li><a href="{% url 'show_category' slug='televisions' %}">Televisions</a></li>
                                <li><a href="{% url 'show_category' slug='refrigerator' %}">Refrigerator</a></li>
                                <li><a href="{% url 'show_category' slug='kitchen-appliances' %}">Kitchen Appliances</a>
                                </li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='toys-and-baby' %}">Toys and Baby</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->


<br>
<br>
<br>
<br>
<br>


<!-- Product Shop Section Begin -->
<section class="product-shop spad page-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="product-pic-zoom">
                            <img class="container-fluid product-big-img" style="padding: 0px;"
                                 src="/media/{{ product.image_url_1 }}" alt="">
                        </div>
                        <div class="container-fluid product-thumbs" style="padding: 0px;">
                            <div class="product-thumbs-track ps-slider owl-carousel">
                                <div class="pt active" data-imgbigurl="/media/{{ product.image_url_1 }}"><img
                                        src="/media/{{ product.image_url_1 }}" alt=""></div>
                                <div class="pt" data-imgbigurl="/media/{{ product.image_url_2 }}"><img
                                        src="/media/{{ product.image_url_2 }}" alt=""></div>
                                <div class="pt" data-imgbigurl="/media/{{ product.image_url_3 }}"><img
                                        src="/media/{{ product.image_url_3 }}" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <br>
                        <div class="product-details">
                            <div class="pd-title">
                                <h3>{{product.title}}</h3>
                                <a href="" class="heart-icon"><i class="fa fa-heart"></i></a>
                            </div>
                            <div class="pd-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>(4)</span>
                            </div>
                            <div class="pd-desc">
                                <h4>${{ product.offer_price }}<span>{{ product.original_price }}</span></h4>
                            </div>
                            <div class="pd-color">
                                <h6>Color</h6>
                                <div class="pd-color-choose">
                                    <div class="cc-item">
                                        <input type="radio" id="cc-black">
                                        <label for="cc-black"></label>
                                    </div>
                                    <div class="cc-item">
                                        <input type="radio" id="cc-yellow">
                                        <label for="cc-yellow" class="cc-yellow"></label>
                                    </div>
                                    <div class="cc-item">
                                        <input type="radio" id="cc-violet">
                                        <label for="cc-violet" class="cc-violet"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="pd-size-choose">
                                <div class="sc-item">
                                    <input type="radio" id="sm-size">
                                    <label for="sm-size">s</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="md-size">
                                    <label for="md-size">m</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="lg-size">
                                    <label for="lg-size">l</label>
                                </div>
                                <div class="sc-item">
                                    <input type="radio" id="xl-size">
                                    <label for="xl-size">xs</label>
                                </div>
                            </div>
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                                <a href="#" class="primary-btn pd-cart">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-tab">
                    <div class="tab-item">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#tab-1" role="tab">DESCRIPTION</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-2" role="tab">SPECIFICATIONS</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-3" role="tab">Customer Reviews</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                <div class="product-content">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <h5>Specification</h5>
                                            <p>{{ product.description|linebreaks }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                <div class="specification-table">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <table>
                                                <tr>
                                                    <td class="p-catagory">Customer Rating</td>
                                                    <td>
                                                        <div class="pd-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star-o"></i>
                                                            <span>(4)</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="p-catagory">Price</td>
                                                    <td>
                                                        <div class="p-price">{{ product.offer_price }}</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="p-catagory">Add To Cart</td>
                                                    <td>
                                                        <div class="cart-add">+ add to cart</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="p-catagory">Availability</td>
                                                    <td>
                                                        <div class="p-stock">{{ product.quantity_left }} in stock</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="p-catagory">Weight</td>
                                                    <td>
                                                        <div class="p-weight">1,3kg</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="p-catagory">Size</td>
                                                    <td>
                                                        <div class="p-size">Xxl</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="p-catagory">Color</td>
                                                    <td><span class="cs-color"></span></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                <div class="customer-review-option">
                                    <h4>2 Comments</h4>
                                    <div class="comment-option">
                                        <div class="co-item">
                                            <div class="avatar-pic">
                                                <img src="{% static 'img/comments-5.jpg' %}" alt="">
                                            </div>
                                            <div class="avatar-text">
                                                <div class="at-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <h5>Brandon Kelley <span>27 Aug 2019</span></h5>
                                                <div class="at-reply">Nice !</div>
                                            </div>
                                        </div>
                                        <div class="co-item">
                                            <div class="avatar-pic">
                                                <img src="{% static 'img/comments-3.jpg' %}" alt="">
                                            </div>
                                            <div class="avatar-text">
                                                <div class="at-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <h5>Roy Banks <span>27 Aug 2019</span></h5>
                                                <div class="at-reply">Nice !</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="personal-rating">
                                        <h6>Your Ratind</h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                    <div class="leave-comment">
                                        <h4>Leave A Comment</h4>
                                        <form action="#" class="comment-form">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <input type="text" placeholder="Name">
                                                </div>
                                                <div class="col-lg-4">
                                                    <input type="text" placeholder="Email">
                                                </div>
                                                <div class="col-lg-8">
                                                    <textarea placeholder="Messages"></textarea>
                                                    <button type="submit" class="site-btn">Send message</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->


{% endblock %}