{% extends 'template/base.html' %}
{% load static %}
{% block content %}


<!-- ======= Header ======= -->
<header id="header" class="fixed-top header">
    <div class="container">
        <div class="logo float-left">
            <h1 class="text-light"><a href="{% url 'homepage' %}"><span>Shopping Site</span></a></h1>
        </div>
        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li>
                    <form action="{% url 'search' %}" method="GET" value="{{request.GET.q}}">
                        <div class="search">
                            <input type="text" name="q" value="{{request.GET.q}}" placeholder=" ">
                            <div>
                                <svg>
                                    <use xlink:href="#path"/>
                                </svg>
                            </div>
                        </div>
                        <input class="submit" type="submit" name="submit" value="Search"/>
                    </form>
                </li>
                <li class="active"><a href="{% url 'homepage' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li class="drop-down"><a href="{% url 'user' %}">{{ user.username }}</a>
                    <ul>
                        <li><a href="{% url 'user' %}">User Profile</a></li>
                        <li><a href="{% url 'cart' %}">Cart</a></li>
                        <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                        <li><a href="{% url 'order_history' %}">Orders</a></li>
                        <li><a href="{% url 'logout' %}">logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}

                <li class="drop-down"><a href="">Category</a>
                    <ul>
                        <li class="drop-down"><a href="{% url 'show_category' slug='electronics' %}">Electronics</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='camera' %}">Camera</a></li>
                                <li><a href="{% url 'show_category' slug='laptops' %}">Laptops</a></li>
                                <li><a href="{% url 'show_category' slug='mobile-accessories' %}">Mobile Accessories</a>
                                </li>
                                <li><a href="{% url 'show_category' slug='mobiles' %}">Mobiles</a></li>
                                <li><a href="{% url 'show_category' slug='speakers' %}">Speakers</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='fashion' %}">Fashion</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='men' %}">Men's</a></li>
                                <li><a href="{% url 'show_category' slug='women' %}">Women's</a></li>
                                <li><a href="{% url 'show_category' slug='kids-and-baby' %}">Kids and Baby</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='home-and-furniture' %}">Home and
                            Furniture</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='home-furnishing' %}">Home Furnishing</a></li>
                                <li><a href="{% url 'show_category' slug='home-decor' %}">Home Decor</a></li>
                                <li><a href="{% url 'show_category' slug='home-improvement' %}">Home Improvement</a>
                                </li>
                                <li><a href="{% url 'show_category' slug='house-keeping-essentials' %}">House Keeping
                                    Essentials</a></li>
                                <li><a href="{% url 'show_category' slug='kitchen-accessories' %}">Kitchen
                                    Accessories</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='sports-books-and-more' %}">Sports,
                            Books and More</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='tv-appliances' %}">Tv &
                            Appliances</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='air-conditioner' %}">Air Conditioner</a></li>
                                <li><a href="{% url 'show_category' slug='washing-machine' %}">Washing Machine</a></li>
                                <li><a href="{% url 'show_category' slug='televisions' %}">Televisions</a></li>
                                <li><a href="{% url 'show_category' slug='refrigerator' %}">Refrigerator</a></li>
                                <li><a href="{% url 'show_category' slug='kitchen-appliances' %}">Kitchen Appliances</a>
                                </li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='toys-and-baby' %}">Toys and Baby</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->


<br>
<br>
<br>
<br>
<br>


{% if submitbutton == 'Search' and request.GET.q != '' %}


<section class="portfolio sect-pt4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h1>
                        Results for <b>{{ request.GET.q }}</b>
                    </h1>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <section class="product-shop">
            <div class="row">
                <div class="col-lg-12 order-1 order-lg-2">
                    <div class="product-list">
                        <div class="row">
                            {% if results %}
                            {% for result in results %}
                            <div class="col-lg-4 col-sm-6" data-aos="fade-up" data-aos-anchor-placement='top-bottom'>
                                <div class="work-box">
                                    <a href="{% url 'product_detail' slug=result.slug %}" class="stretched-link">
                                        <div class="work-img">
                                            <img src="/media/{{ result.image_url_1 }}" alt="" class="img-fluid">
                                        </div>
                                        <div class="pi-text">
                                            <h5 style="margin-bottom: 2px;">{{ result.title }}</h5>
                                            <div class="product-price">${{ result.offer_price }}
                                                <span>${{ result.original_price }}</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <h2>No search results for this query</h2>
                            <br><br><br><br><br><br>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

{% endif %}


{% endblock %}