{% extends 'template/base.html' %}
{% load static %}
{% block content %}

<!-- ======= title ======= -->
<section class="portfolio portfolio-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Track order
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======= end title ======= -->

<br>
<br>
<br>

{% if order.status == 'Order Placed' %}
<div class="container">
    <div class="row">
        <ul class="col-md-12 timeline" style="margin: auto;">
            <li class="li complete">
                <div class="status">
                    <h6> Order Placed </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Order Confirmed </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Packing </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Shipped </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Out for Delivery </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Delivered </h6>
                </div>
            </li>
        </ul>
    </div>
</div>

{% elif order.status == 'Order Confirmed' %}
<div class="container">
    <div class="row">
        <ul class="col-md-12 timeline" style="margin: auto;">
            <li class="li complete">
                <div class="status">
                    <h6> Order Placed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Order Confirmed </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Packing </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Shipped </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Out for Delivery </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Delivered </h6>
                </div>
            </li>
        </ul>
    </div>
</div>

{% elif order.status == 'Packing' %}
<div class="container">
    <div class="row">
        <ul class="col-md-12 timeline" style="margin: auto;">
            <li class="li complete">
                <div class="status">
                    <h6> Order Placed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Order Confirmed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Packing </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Shipped </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Out for Delivery </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Delivered </h6>
                </div>
            </li>
        </ul>
    </div>
</div>

{% elif order.status == 'Shipped' %}
<div class="container">
    <div class="row">
        <ul class="col-md-12 timeline" style="margin: auto;">
            <li class="li complete">
                <div class="status">
                    <h6> Order Placed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Order Confirmed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Packing </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Shipped </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Out for Delivery </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Delivered </h6>
                </div>
            </li>
        </ul>
    </div>
</div>

{% elif order.status == 'Out for Delivery' %}
<div class="container">
    <div class="row">
        <ul class="col-md-12 timeline" style="margin: auto;">
            <li class="li complete">
                <div class="status">
                    <h6> Order Placed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Order Confirmed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Packing </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Shipped </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Out for Delivery </h6>
                </div>
            </li>
            <li class="li">
                <div class="status">
                    <h6> Delivered </h6>
                </div>
            </li>
        </ul>
    </div>
</div>

{% elif order.status == 'Delivered' %}
<div class="container">
    <div class="row">
        <ul class="col-md-12 timeline" style="margin: auto;">
            <li class="li complete">
                <div class="status">
                    <h6> Order Placed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Order Confirmed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Packing </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Shipped </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Out for Delivery </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status">
                    <h6> Delivered </h6>
                </div>
            </li>
        </ul>
    </div>
</div>

{% elif order.status == 'Order Cancelled' %}
<div class="container">
    <div class="row">
        <ul class="col-md-12 timeline" style="margin: auto;">
            <li class="li complete">
                <div class="status-cancel">
                    <h6> Order Placed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-cancel">
                    <h6> Order Confirmed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-cancel">
                    <h6> Packing </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-cancel">
                    <h6> Shipped </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-cancel">
                    <h6> Out for Delivery </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-cancel">
                    <h6> Delivered </h6>
                </div>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h3>Order Cancelled</h3>
        </div>
    </div>
</div>

{% elif order.status == 'Return Request Placed' %}
<div class="container">
    <div class="row">
        <ul class="col-md-11 timeline" style="margin: auto;">
            <li class="li complete">
                <div class="status-return">
                    <h6> Return Request Placed </h6>
                </div>
            </li>
            <li class="li">
                <div class="status-return">
                    <h6> Return Request Acknowledged </h6>
                </div>
            </li>
            <li class="li">
                <div class="status-return">
                    <h6> Courier Service Informed </h6>
                </div>
            </li>
            <li class="li">
                <div class="status-return">
                    <h6> Return Product Verified </h6>
                </div>
            </li>
            <li class="li">
                <div class="status-return">
                    <h6> Refund Completed </h6>
                </div>
            </li>
        </ul>
    </div>
</div>

{% elif order.status == 'Return Request Acknowledged' %}
<div class="container">
    <div class="row">
        <ul class="col-md-11 timeline" style="margin: auto;">
            <li class="li complete">
                <div class="status-return">
                    <h6> Return Request Placed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-return">
                    <h6> Return Request Acknowledged </h6>
                </div>
            </li>
            <li class="li">
                <div class="status-return">
                    <h6> Courier Service Informed </h6>
                </div>
            </li>
            <li class="li">
                <div class="status-return">
                    <h6> Return Product Verified </h6>
                </div>
            </li>
            <li class="li">
                <div class="status-return">
                    <h6> Refund Completed </h6>
                </div>
            </li>
        </ul>
    </div>
</div>

{% elif order.status == 'Courier Service Informed' %}
<div class="container">
    <div class="row">
        <ul class="col-md-11 timeline" style="margin: auto;">
            <li class="li complete">
                <div class="status-return">
                    <h6> Return Request Placed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-return">
                    <h6> Return Request Acknowledged </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-return">
                    <h6> Courier Service Informed </h6>
                </div>
            </li>
            <li class="li">
                <div class="status-return">
                    <h6> Return Product Verified </h6>
                </div>
            </li>
            <li class="li">
                <div class="status-return">
                    <h6> Refund Completed </h6>
                </div>
            </li>
        </ul>
    </div>
</div>

{% elif order.status == 'Return Product Verified' %}
<div class="container">
    <div class="row">
        <ul class="col-md-11 timeline" style="margin: auto;">
            <li class="li complete">
                <div class="status-return">
                    <h6> Return Request Placed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-return">
                    <h6> Return Request Acknowledged </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-return">
                    <h6> Courier Service Informed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-return">
                    <h6> Return Product Verified </h6>
                </div>
            </li>
            <li class="li">
                <div class="status-return">
                    <h6> Refund Completed </h6>
                </div>
            </li>
        </ul>
    </div>
</div>

{% elif order.status == 'Refund Completed' %}
<div class="container">
    <div class="row">
        <ul class="col-md-11 timeline" style="margin: auto;">
            <li class="li complete">
                <div class="status-return">
                    <h6> Return Request Placed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-return">
                    <h6> Return Request Acknowledged </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-return">
                    <h6> Courier Service Informed </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-return">
                    <h6> Return Product Verified </h6>
                </div>
            </li>
            <li class="li complete">
                <div class="status-return">
                    <h6> Refund Completed </h6>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endif %}

<br>
<br>

{% if order.status == 'Order Placed' or order.status == 'Order Confirmed' or order.status == 'Packing' %}
<div class="container">
    <div class="row">
        <div class="col-md-2" style="margin: auto;">
            <a href="{% url 'admin_status_update' order_id=order.id status='Order Cancelled' %}"
               style="color: white"
               class="proceed-btn">Cancel Order
            </a>
        </div>
    </div>
</div>


{% elif order.status == 'Delivered' %}
<div class="container">
    <div class="row">
        <div class="col-md-2" style="margin: auto;">
            <a href="{% url 'admin_status_update' order_id=order.id status='Return Request Placed' %}" style="color: white"
               class="proceed-btn">Return Order
            </a>
        </div>
    </div>
</div>


{% endif %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}