{% extends 'template/base.html' %}
{% load static %}
{% block content %}


<!-- ======= Header ======= -->
<header id="header" class="fixed-top header">
    <div class="container">
        <div class="logo float-left">
            <h1 class="text-light"><a href="{% url 'homepage' %}"><span>Shopping Site</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="{% static 'img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
        <nav class="nav-menu float-right d-none d-lg-block">
            <ul>
                <li>
                    <form action="{% url 'search' %}" method="GET" value="{{request.GET.q}}">
                        <div class="search">
                            <input type="text" name="q" value="{{request.GET.q}}" placeholder=" ">
                            <div>
                                <svg>
                                    <use xlink:href="#path"/>
                                </svg>
                            </div>
                        </div>
                        <input class="submit" type="submit" name="submit" value="Search"/>
                    </form>
                </li>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
                <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                {% if user.is_authenticated %}
                <li class="drop-down"><a href="{% url 'user' %}">{{ user.username }}</a>
                    <ul>
                        <li><a href="{% url 'user' %}">User Profile</a></li>
                        <li><a href="{% url 'order_track' %}">Track Order</a></li>
                        <li><a href="{% url 'logout' %}">logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}

                <li class="drop-down"><a href="">Category</a>
                    <ul>
                        <li class="drop-down"><a href="{% url 'show_category' slug='electronics' %}">Electronics</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='camera' %}">Camera</a></li>
                                <li><a href="{% url 'show_category' slug='laptops' %}">Laptops</a></li>
                                <li><a href="{% url 'show_category' slug='mobile-accessories' %}">Mobile Accessories</a>
                                </li>
                                <li><a href="{% url 'show_category' slug='mobiles' %}">Mobiles</a></li>
                                <li><a href="{% url 'show_category' slug='speakers' %}">Speakers</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='fashion' %}">Fashion</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='men' %}">Men's</a></li>
                                <li><a href="{% url 'show_category' slug='women' %}">Women's</a></li>
                                <li><a href="{% url 'show_category' slug='kids-and-baby' %}">Kids and Baby</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='home-and-furniture' %}">Home and
                            Furniture</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='home-furnishing' %}">Home Furnishing</a></li>
                                <li><a href="{% url 'show_category' slug='home-decor' %}">Home Decor</a></li>
                                <li><a href="{% url 'show_category' slug='home-improvement' %}">Home Improvement</a>
                                </li>
                                <li><a href="{% url 'show_category' slug='house-keeping-essentials' %}">House Keeping
                                    Essentials</a></li>
                                <li><a href="{% url 'show_category' slug='kitchen-accessories' %}">Kitchen
                                    Accessories</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='sports-books-and-more' %}">Sports,
                            Books and More</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='tv-appliances' %}">Tv &
                            Appliances</a>
                            <ul>
                                <li><a href="{% url 'show_category' slug='air-conditioner' %}">Air Conditioner</a></li>
                                <li><a href="{% url 'show_category' slug='washing-machine' %}">Washing Machine</a></li>
                                <li><a href="{% url 'show_category' slug='televisions' %}">Televisions</a></li>
                                <li><a href="{% url 'show_category' slug='refrigerator' %}">Refrigerator</a></li>
                                <li><a href="{% url 'show_category' slug='kitchen-appliances' %}">Kitchen Appliances</a>
                                </li>
                            </ul>
                        </li>
                        <li class="drop-down"><a href="{% url 'show_category' slug='toys-and-baby' %}">Toys and Baby</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->


<br>
<br>
<br>
<br>
<br>

<!-- ======= title ======= -->
<section class="portfolio sect-pt4" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        {{ user.username }}
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======= end title ======= -->


<section class="product-shop spad page-details">
    <div class="container">
        <div class="product-tab" style="padding-top: 0px;">
            <div class="row justify-content-around">
                <div class="col-lg-3" style="padding-top: 80px;">
                    <div class="tab-item">
                        <ul class="nav justify-content-center" role="tablist">
                            <li>
                                <a class="active" data-toggle="tab" href="#tab-1" role="tab">Profile</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-2" role="tab">Wishlist</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab-3" role="tab">Track Orders</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="tab-item-content">
                        <div class="tab-content">
                            <div class="tab-pane fade-in active" id="tab-1" role="tabpanel">
                                <div class="specification-table">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <table>
                                                <tr>
                                                    <td class="p-catagory">First name</td>
                                                    <td class="p-catagory">{{ user.first_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="p-catagory">last name</td>
                                                    <td class="p-catagory">{{ user.last_name }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="p-catagory">Name</td>
                                                    <td class="p-catagory">{{ user.username }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="p-catagory">email</td>
                                                    <td class="p-catagory">{{ user.email }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="p-catagory">gender</td>
                                                    <td class="p-catagory">{{ profile.gender }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="p-catagory">Birthday</td>
                                                    <td class="p-catagory">{{ profile.birth_date }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="p-catagory">Address</td>
                                                    <td class="p-catagory">{{ profile.location }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-xs-4" style="padding-top: 30px; padding-left: 30px;">
                                            <a href="{% url 'update_profile' %}" class="proceed-btn">update profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-2" role="tabpanel">
                                <section class="shopping-cart spad">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="cart-table">
                                                <table>
                                                    <thead>
                                                    <tr>
                                                        <th>Image</th>
                                                        <th class="p-name">Product Name</th>
                                                        <th>Price</th>
                                                        <th><i class="ti-close"></i></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="cart-pic first-row"><img
                                                                src="/media/assets/img/product-1.jpg" alt=""></td>
                                                        <td class="cart-title first-row"><h5>Pure Pineapple</h5>
                                                        </td>
                                                        <td class="p-price first-row">$60.00</td>
                                                        <td>
                                                            <div class="proceed-checkout"
                                                                 style="padding-top: 30px; padding-left: 30px;">
                                                                <a href="{% url 'checkout' %}" class="proceed-btn">Add
                                                                    To Cart</a>
                                                            </div>
                                                        </td>
                                                        <td class="close-td first-row"><i class="ti-close"></i></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="tab-pane fade" id="tab-3" role="tabpanel">
                                <!--                                track order-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}