{% extends 'template/base.html' %}
{% load static %}
{% block content %}


<!-- ======= title ======= -->
<section class="portfolio portfolio-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        {{ user.username }}
                    </h3>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- ======= end title ======= -->



<section class="user-page">
    <div class="container">
        <div class="row">
            <div class="col-12 dp">
                {% if profile.dp %}
                <img src="/media/{{ profile.dp }}" alt="">
                {% else %}
                <img src="/media/profile/img/default_profile_pic.png" alt="">
                {% endif %}
                <a href="{% url 'update_profile_pic' %}"><i class="fas fa-pencil-alt"></i></a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="specification-table">
                    <div class="row">
                        <div class="col-lg-12">
                            <table>
                                <tr>
                                    <td class="p-catagory">First name</td>
                                    <td class="p-catagory" style="text-transform: capitalize;">
                                        {{ user.first_name }}
                                        <a href="{% url 'update_profile' %}">
                                            <i class="fas fa-user-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-catagory">last name</td>
                                    <td class="p-catagory" style="text-transform: capitalize;">
                                        {{ user.last_name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-catagory">email</td>
                                    <td class="p-catagory" style="text-transform: lowercase;">{{ user.email }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-catagory">gender</td>
                                    <td class="p-catagory" style="text-transform: capitalize;">
                                        {{ profile.gender }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-catagory">Phone Number</td>
                                    <td class="p-catagory" style="text-transform: capitalize;">
                                        {{ profile.phone_number }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="p-catagory">Address</td>
                                    <td class="p-catagory" style="text-transform: capitalize;">
                                        {{ profile.street_address }}, {{ profile.city }}, {{ profile.state }},
                                        {{ profile.country }}
                                        <a href="{% url 'update_address' %}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}